.barcode-modal {
    &__title {
        text-transform: uppercase;
        text-align: center;
    }
    &__barcode-container {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
}