.meeting-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    $meeting-padding: 15px;
    a {
        color: $black;
        &:hover {
            color: $light-blue;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px $meeting-padding;
    }
    &__creator {
        display: flex;
        align-items: center;
        padding: $meeting-padding;
        background-color: rgba(238, 238, 238, 0.432);
        line-height: 1;
        a {
            display: block;
        }
        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    &__title {
        margin: 0 15px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin: 15px 0;
        line-height: 1.4;
    }
    &__body {
        padding: 5px $meeting-padding;
    }
    .button {
        padding: 7px 10px;
        line-height: 1;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        ion-icon {
            font-size: 1.2rem;
        }
    }
    &__time {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: $dark;
        ion-icon {
            font-size: 1.2rem;
            margin-right: 5px;
            color: $black;
        }
    }
}
