.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-col {
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}

.form-col {
    display: block;
    flex: 1;
    margin-bottom: 1.2rem;
    label {
        display: inline-block;
        margin-bottom: 7px;
        position: relative;
        &.required {
            &::after {
                content: "*";
                position: absolute;
                right: -7px;
                top: -2px;
                color: $red;
            }
        }
    }
    .error-text {
        color: $red;
        font-size: 0.8rem;
        margin-top: 4px;
        margin-bottom: 7px;
    }
}

.edit-text {
    border: 1px solid $dark;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 500;
    &:focus,
    &:active {
        border: 1px solid $blue;
    }
    &--error {
        border-color: $red !important;
    }
    &--wysiiwyg {
        min-height: 200px;
        padding: 0 10px;
    }
}

.link {
    color: $blue;
    text-decoration: underline;
}

.modal {
    position: relative;
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    padding-left: $p1;
    padding-right: $p1;
}

.flex {
    display: flex !important;
}
