body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    color:$black;
    &:hover{
        color:$black;
        text-decoration: none;
    }
}

button, select, input, textarea{
    outline: none;
}

textarea{
    resize: vertical;
}