// TODO: Responsive
$sm: 680px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;


// TODO: Colors
$black: #121212;
$dark: #696969;
$blue: #2a3b71;
$light-blue: #3b54a3;
$dark-blue: #273e88;
$white: #fff;
$red: #F73131;
$light-red: #EF5350;

// spacing
$p1: 4rem;


// mixin
@mixin minWidth($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}